.App {
  text-align: center;
}

.navbar {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.navbar > div {
  background: #eeeeee;
  padding: 20px;
}
.navbar > div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navbar > div:nth-child(2) {
text-align: center;
}

.navbar > div:nth-child(3) {
  text-align: right;
  display: grid;

}

.content {
  background-color: #eeeeee;
  border: 1px solid;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;  
}
.contentCar {
  display: grid;
  padding: 20px;
  border: 1px solid #ccc;
  grid-template-columns: repeat(6,1fr);
}
